.container-popup{
    width:100% ;
    height: 100vh;
    background: #3c5077;
    display:flex;
    align-items: center;
    justify-content: center;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align:center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    background-color: #EAEFE2;
    z-index: 9999;
}
.open-popup{
    visibility: visible;
    top:50% ;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    
}

.popup .popup-element{
    margin: 15px 0px;
}

.popup .popup-element input[type="text"]
{
    margin-top: 5px;
    display:block;
    width:100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.notification-container {
width: 10%;
text-align: center;
padding: 10px;
margin-top: 100px;
 /* Adjust the margin-top value according to your needs */
}
button{
background-color: #FF4B2B;
width: 150px;
height: 50px;
font-size: 20px;
}
.container-loan {
	align-items: center;
	width: 50%;
	background: #fff;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	overflow-y: scroll;

}

.container-loan .form {
	align-items: center;
    left:50%;
    right:50%;
	margin-top: 30px;
	width: 100%;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form .input-box {
	width: 100%;
	margin-top: 20px;
}

.input-box label {
	color: #333;
}

.form :where(.input-box input, .select-box) {
	position: relative;
	height: 50px;
	width: 100%;
	outline: none;
	font-size: 1rem;
	color: #707070;
	margin-top: 8px;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0 15px;
}

.input-box input:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
	display: flex;
	column-gap: 15px;
}

.form .gender-box {
	margin-top: 20px;
}

.gender-box h3 {
	color: #333;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
	display: flex;
	align-items: center;
	column-gap: 50px;
	flex-wrap: wrap;
}

.form .gender {
	column-gap: 5px;
}

.gender input {
	accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
	cursor: pointer;
}

.gender label {
	color: #707070;
}

.address :where(input, .select-box) {
	margin-top: 15px;
}

.select-box select {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	color: #707070;
	font-size: 1rem;
}

.form button {
	height: 100px;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 30px;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
	background: #FF4B2B;
}

.form button:hover {
	background: #fa300d;
}

@media screen and (max-width: 500px) {
	.form .column {
		flex-wrap: wrap;
	}

	.form :where(.gender-option, .gender) {
		row-gap: 15px;
	}
}
.success input {
	border-color: #09c372;
}

.error input {
	border-color: #ff3860;
}

.error {
	color: #ff3860;
	font-size: 20px;
	/* white-space: normal; */
}
